/** @format */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(159, 169, 167, 0.509);
}

h2 {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    margin-top: 50px;
    font-size: 60px;
}

main {
    background-color: white;
    font-size: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    padding: 5vh;
    margin-top: 20vh;
    width: 70vh;
}

.main-page-btns {
    display: inline-block;
    margin-top: -20px;
}

.main-page-btns button {
    width: 190px;
    padding: 25px 40px;
    font-size: 25px;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 50px;
}

.main-page-btns button:hover {
    background-color: red;
}

.main-page-btns button:first-child {
    margin-right: 10px;
}
